form{
 background-color: #B7BDC0;
 margin: auto;
 width: 25%;
}

td{

font-size: 22px;
font-style: monospace;

}

#inputform {
  width: 100%; 
  padding: 4px;
}

body{
	 background-color: #B7BDC0;	
}